html {
    height: 100%;
    background-color: #dac1a6;
    background-image: url("./images/cube_colored.png");
    background-size: cover;
    background-position: center;

    /* Optional: Uncomment for Graph Paper or Triangles background */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E...%3C/svg%3E"); */
    /* background-size: 8%; */
}

body {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

::selection {
    background: #41419b;
    color: #e8e8f6;
}

.basic_BG {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.background_hack,
.base_background,
.tiled_background {
    width: 100%;
    height: 100%;
}

.base_background {
    background-color: #dac8b5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.tiled_background {
    background-image: url("https://image.freepik.com/free-vector/abstract-cube-pattern_1319-153.jpg");
    opacity: 0.06;
    background-repeat: repeat round;
    z-index: -1;
}

/* Regular links and text */
a {
    text-decoration: none;
}

.reg_link, .reg_link.visited {
    color: white;
    transition: all 0.1s ease-in-out;
    display: inline-block;
    font-size: 115%;
    font-family: 'Baloo 2';
}

.reg_link:hover {
    transform: scale(1.02) translate(-0.1rem, -0.1rem);
}

.reg_text {
    font-size: 125%;
    font-family: 'Baloo 2';
    line-height: 1.5rem;
}

.title_text {
    margin: 2%;
    line-height: 2rem;
}

.intro_text {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    max-width: 65%;
    font-size: 115%;
}

.reg_ul_list {
    list-style-type: none;
    padding-left: 1rem;
    line-height: 1.5rem;
}

.reg_sub_list_item {
    padding-left: 8%;
}

li.reg_sub_list_item:not(:last-child) {
    margin-bottom: 0.5rem;
}

/* Containers */
.main_container {
    z-index: 100;
}

.reg_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.reg_grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.75fr 0.75fr 0.75fr;
    grid-gap: 3%;
}

.reg_grid_item {
    width: 90%;
    justify-self: center;
}

.offset_anchor {
    padding-top: 120px;
    margin-top: -80px;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.intro_pic {
    width: 10vw;
    height: 10vw;
    min-width: 125px;
    min-height: 125px;
    max-width: 200px;
    max-height: 200px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.page_line_sep {
    border-style: inset;
    width: 80%;
    border-width: 2px;
    height: 1px;
    background-color: #6767e0;
    z-index: 100;
}

.small_gif {
    padding: 0vh;
    border-style: solid;
    border-width: 0.3vh;
    border-radius: 20px;
    margin: 1vh;
    flex-shrink: 0.3;
}

.transparent_bg {
    background-color: rgba(130, 174, 255, 0.59);
}

/* Main Page */
.main_page_grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.main_page_grid_item {
    font-size: 200%;
    height: auto;
    padding: 1vh;
    margin-bottom: 1vh;
}

@media only screen and (max-device-width: 800px) {
    .main_page_grid_item {
        margin-bottom: -1rem;
        margin-top: -1rem;
    }
}

.main_page_grid_text, .main_page_grid_text.visited {
    color: #000000;
    transition: all 0.1s ease-in-out;
    line-height: 2rem;
}

.main_page_grid_text:hover {
    color: white;
    transform: scale(1.03) translate(-0.1rem, -0.1rem);
    text-shadow: 0.1rem 0.1rem rgba(20, 20, 20, 0.8);
}

/* External sources */
.itch_page_embed {
    border-radius: 4px;
    margin-top: -1%;
    margin-bottom: -1%;
    padding: 0;
    transform: scale(0.8);
}

.itch_games_ul_list {
    list-style-type: none;
    padding-left: 0rem;
    line-height: 1.5rem;
}

.itch_thumb_custom {
    width: 30vh;
    height: fit-content;
    padding: 3vh;
    margin: 3vh;
    border-color: black;
    border-radius: 1vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.itch_thumb_custom_pic {
    height: 25vh;
    border-style: solid;
    border-width: 0.3vh;
    border-color: black;
    border-radius: 2vh;
}

.itch_thumb_custom_desc {
    margin-top: 1vh;
    margin-bottom: -2vh;
    height: 10vh;
    text-align: center;
    font-size: 2.5vh;
    word-wrap: break-word;
}

.itch_thumb_custom_title {
    margin-top: -0.5vh;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 4vh;
}

/* Resume Section */
.resume_items_container {
    max-width: 70%;
    min-width: 60%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.reg_resume_item {
    padding: 1%;
    line-height: 2rem;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 25px;
}

::-webkit-scrollbar-track {
    visibility: hidden;
}

::-webkit-scrollbar-thumb {
    background: #6767e0;
}

::-webkit-scrollbar-thumb:hover {
    background: #4949b2;
}

/* Email Form */
.email_form {
    display: inline-block;
    position: relative;
    width: auto;
    height: 75vh;
    margin: auto;
    max-width: 90%;
    text-align: center;
    z-index: 10;
}

.form-container {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.form-container input[type=text] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.textarea {
    border: 1px solid #ccc;
    padding: 1px 6px;
    max-width: 100%;
    overflow: hidden;
    resize: vertical;
    min-height: 40px;
    line-height: 20px;
}

.textarea[contenteditable]:empty::before {
    content: "Placeholder still possible";
    color: gray;
    box-sizing: border-box;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #6767e0;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .btn:hover {
    opacity: 1;
}

/* Melt Poem Styles */
.melt_poem_img {
    max-width: 60%;
    max-height: 60%;
}

.melt_poem_top {
    border-radius: 0.5rem 0.5rem / 0.5rem 0.5rem 0 0;
}

.melt_poem_bottom {
    border-radius: 0.5rem 0.5rem / 0 0.5rem 0.5rem 0.5rem;
}
